{%extends 'base.html'%}


{%block content%}
<nav class ="navbar navbar-expand-lg navbar-dark bg-dark"> 
   <a class="navbar-brand" href="#"><span style="color: black;">.</span> AlaeCourses</a>
   <form method="GET" class="mx-auto d-flex">
      {% csrf_token %}
      <input type="text" name="choix" class="form-control" placeholder="Rechercher...">
      <input class="btn btn-dark ms-2" type="submit" value="Chercher">
   </form>
   <ul class="navbar-nav ms-auto">
   <li class="nav-itm"><a class="nav-link" href="{% url 'formations'%}">Déconnexion</a></li>
   <li class="nav-itm"><a class="nav-link"  href="{% url 'reservation'%}">vos achats </a></li>
   <li class="nav-itm"><a class="nav-link"  href="{% url 'panier'%}">Panier</a></li>
   
   </ul>
   </nav>
   {% load static %}


   <style>
      body{
         background-color:  rgb(251, 251, 251);
      }

      .card {
       transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
      .card:hover {
      transform: translateY(-10px); /* Effet de soulèvement au survol */
      box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15); /* Ombre plus prononcée */
  }
   </style>
<div class="row mb-0" style="height: 400px; background-image: url('{% static 'img/fofi.png' %}');">
      <div class="col-5" >
       <div class="class container m-4">
            <div class="bg-light p-3 rounded-1">
            <h1 class="display-3"> Bienvenue {{name}}</h1>
            <p class="lead"> AlaeCourses est votre partenaire idéal pour accéder à des formations de qualité dans divers domaines.</p>
            <hr class="my-4">
          
            </div>
       </div >
      
      </div>
      
   </div>
   
   








<br><br>
   <div class="class border p-3">
   <h1 class="font-weight-bold">  large sélection de cours</h1>
   <h6>Choisissez parmi plusieurs formations en ligne. De nouveaux formations sont ajoutés tous les mois</h6>
   </div>


<div class="container"></div>
<div class="border p-3">
<div class="row">
         {% for x in form %}

         <div  class="col-3 mb-4">
            <div  class="card" style ="width: 300px; height: 300px;">
               <img width="150px" src="{{x.image.url}}" class="card-img" alt="" style="height: 150px; object-fit: cover;"> 
               <div class="card-body  d-flex flex-column ">
                <h1 class="card-title mb-0 mt-0 custom-title" style="font-size: 1.7rem;"> {{x.nom|truncatechars:10}} <span class="card-price"  style="font-weight: 100; font-size: 1.5rem;">${{ x.prix }}</span></h1>
               <p class="card-text text-truncate mt-0"> {{x.description}}</p>

                 <form  action="/pages/panier"   method="POST" id="formres">
                  {% csrf_token %}
                  <input type="hidden" name="nom" value="{{x.nom}}">
                  <input type="hidden" name="fon" value='a'>
                  <button class="btn btn-dark"type="submit">ajouter</button>
                 </form>
                
                 </div>
            </div>
         </div>


        
        {% endfor %}

        
</div>
       
</div>
</div>

{%endblock content%}