{% extends 'base.html' %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#"><span style="color: black;">.</span> AlaeCourses</a>
    <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link" href="{% url 'formations' %}">Déconnexion</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'panier' %}">Panier</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'client' %}">Formations</a></li>
    </ul>
</nav>

<div class="container mt-4">
   

    <div class="row">
        <div class="col-md-12">
            <ul class="list-group border p-3 rounded">
                <h1 class="my-4">Formations Achetés</h1>
                {% for formation in res.formations_reservees.all %}
                <li class="list-group-item d-flex justify-content-between align-items-center mb-3 border">
                    {{ formation.nom }}
                    {% if formation.pdf %}
                    <a href="{% url 'telecharger_pdf' formation_id=formation.id %}" class="btn btn-primary">Télécharger le PDF</a>
                    {% else %}
                    <span class="badge bg-warning">Pas de PDF disponible</span>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock content %}
